html {
    zoom: 0.3; /* Old IE only */
    -moz-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
}
*,
html,body{
padding:0;
margin:0;
top:0;
margin-top:0;
}
body{
	margin:0 auto;
  margin-top:-750em;
	background:#eee;
	position:relative;
}
hr{
height:50px;
	margin-bottom:20em;
	border:0;
	background:black;
z-index:-1;
	display:none;
}
section{
	background:#fff;
	padding:3em;
	transition:transform .15s ease;
	margin:0 auto;
	text-align:center;
position:relative;
	z-index:50;
	opacity:.7;
}
section:hover {
	opacity:1;
	transform:scale(2);
	z-index:9999999999999999;
}
.h4x3, .h16x9, .h2x1, .v3x4, .s1x1{

	font-size:80px;
	z-index:9999999999999;
margin-bottom:25em;
}
section h1{
position:absolute;
top:0;
	right:0;
	background:black;
	color:white;
	padding:20px;
}